*{
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

.magicSquareContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.magicSquare{

    flex-direction: column;
    width: 400px;
    height: 400px;
    display: flex;
}

.row,.column{
    display: flex;
    flex: 1;
}

.column{
    align-items: center;
    justify-content: center;
}
